<app-header></app-header>

<ngb-carousel #carousel>
  <ng-template ngbSlide>
    <img src="../../assets/car3.jpg" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/car1.jpg"  alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../assets/car2.jpeg" alt="Random third slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
